<div style="padding-bottom: 120px">

</div>
<div fxLayout="column" fxLayoutAlign="space-around center">
  <div fxLayout="row" fxLayoutAlign="center center">
    <h1>DoorDelivr</h1>
  </div>
  <form [formGroup]="loginForm" novalidate>
    <div fxLayout="column" style="margin-left: 20px; margin-right:20px" fxLayoutAlign="space-between stretch">

      <mat-form-field disableRipple fxLayout="column" fxLayoutAlign="center stretch">
        <input matInput disableRipple placeholder="User Name" formControlName="userName">
      </mat-form-field>

      <div fxLayout="row" fxLayoutAlign="space-between center">
        <mat-form-field fxFlex="20%" fxFlexAlign="start">
          <mat-select required>
            <mat-option>--</mat-option>
            <mat-option *ngFor="let countryCode of countryCodes" [value]="countryCode">
              {{countryCode.code}}
            </mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field style="text-align: left" fxFlex="70%" fxFlexAlign="end">
          <input matInput oninput="this.value=this.value.slice(0,this.maxLength)" type="number" maxlength="10" placeholder="   Mobile Number" formControlName="mobileNumber">
        </mat-form-field>
      </div>

      <mat-form-field fxLayout="column" fxLayoutAlign="center stretch">
        <input matInput placeholder="Email" formControlName="email" email>
      </mat-form-field>

      <mat-form-field fxLayout="column" fxLayoutAlign="center stretch">
        <input matInput placeholder="Password" [type]="hide ? 'password' : 'text'" formControlName="password">
        <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility' : 'visibility_off'}}</mat-icon>
      </mat-form-field>

      <div fxLayout="column" fxLayoutAlign="space-between stretch" fxLayoutGap="5%">
        <button mat-raised-button color="primary" [disabled]='loginForm.invalid' (click)="authenticateLogin()" fxFlex>Login</button>
        <div fxLayout="row" fxLayoutAlign="space-between center">
          <div>
            <span>
              Become a member?
              <a routerLink="/signUp" skipLocationChange>Signup</a>
            </span>
          </div>
          <div><a routerLink="/forgotPassword" skipLocationChange>Forgot Password</a></div>
        </div>
      </div>
    </div>
  </form>
</div>