<div fxLayoutAlign="space-between">
  <div fxFlex="90" fxFlexOffset="5">
    <mat-grid-list gutterSize="10px" rowHeight="1:1" cols="3">
      <mat-grid-tile>
        <div fxLayout="column">
          <div fxLayout="column">
            <!-- <td-notification-count fxFlex color="primary" [notifications]="1" fxFlexAlign="end" fxFlexOffset="-2">
            </td-notification-count> -->
            <mat-icon fxFlex fxFlexAlign="center" fxFlex fxFlexAlign="end" fxFlexOffset="-2">close</mat-icon>
            <mat-icon fxFlex fxFlexAlign="center">shopping_cart</mat-icon>
          </div>
          <div fxFlexAlign="center" fxFlexOffset="10" fxFlex="90" fxLayout="row" fxLayoutAlign="space-around">
            <span fxFlexAlign="center" fxFlexOffset="20">MUTHU PHARMACY</span>
          </div>
        </div>
      </mat-grid-tile>
      <mat-grid-tile>
        <div fxLayout="column">
          <mat-icon fxflex="grow">add</mat-icon>
        </div>
      </mat-grid-tile>
      <!-- <mat-grid-tile fxflex>
        <div fxLayout="column">
          <mat-icon fxFlex="100" fxFlexAlign="center">shopping_cart</mat-icon>
          <div fxFlexAlign="center" fxFlexOffset="10" fxFlex="90" fxLayout="row" fxLayoutAlign="space-around">
            <span fxFlexAlign="center" fxFlexOffset="20">MUTHU PHARMACY</span>
          </div>
        </div>
      </mat-grid-tile>
      <mat-grid-tile>
        <div fxLayout="column" fxLayoutAlign="none none">
          <mat-icon fxFlex="100" fxFlexAlign="center">shopping_cart</mat-icon>
          <div fxFlexAlign="center" fxFlexOffset="10" fxFlex>
            PONDY MEDICALS
          </div>
        </div>
      </mat-grid-tile>
      <mat-grid-tile>
        <div fxLayout="column">
          <div fxLayout="row" fxLayoutAlign="center center" style="height:100%">
            <mat-icon fxFlexAlign="center">shopping_cart</mat-icon>
            <td-notification-count color="primary" [notifications]="1" fxFlexAlign="start" fxFlexOffset="10">
            </td-notification-count>
          </div>
          <div fxFlexAlign="center" fxFlexOffset="10" fxFlex="90" fxLayout="row" fxLayoutAlign="space-around">
            <span fxFlexAlign="center" fxFlexOffset="20">APOLLO PHARMACY</span>
          </div>
        </div>
      </mat-grid-tile>
      <mat-grid-tile>
        <div fxLayout="column">
          <div fxLayout="column">
            <td-notification-count fxFlex color="primary" [notifications]="1" fxFlexAlign="end" fxFlexOffset="-2">
            </td-notification-count>
            <mat-icon fxFlex fxFlexAlign="center">shopping_cart</mat-icon>
          </div>
          <div fxFlexAlign="center" fxFlexOffset="10" fxFlex="90" fxLayout="row" fxLayoutAlign="space-around">
            <span fxFlexAlign="center" fxFlexOffset="20">MUTHU PHARMACY</span>
          </div>
        </div>
      </mat-grid-tile>
      <mat-grid-tile>
        <mat-grid-tile-header>header</mat-grid-tile-header>
        <mat-card fxFlex fxFlexAlign="center"></mat-card>
        <mat-grid-tile-footer>footer</mat-grid-tile-footer>
      </mat-grid-tile>
      <mat-grid-tile>
        <mat-grid-tile-header>header</mat-grid-tile-header>
        <mat-card fxFlex fxFlexAlign="center"></mat-card>
        <mat-grid-tile-footer>footer</mat-grid-tile-footer>
      </mat-grid-tile> -->
    </mat-grid-list>
  </div>
</div>