@import '~@angular/material/theming';

form {
  padding: 3%;
  padding-top: 20%;
  background-color: mat-color(mat-palette($mat-blue-grey, 500));
}

a:-webkit-any-link {
  color: white;
  cursor: auto;
  text-decoration: none;
}

.mat-form-field {
  text-align: center;
}

#otpID {
  margin: auto 25%;
}

h3:nth-child(3) {
  text-align: center;
}
