<!-- <div fxLayout="column" style="margin-left:2%; margin-right: 2%" fxLayoutAlign="space-around center" fxLayoutGap="25px">
    <div fxLayout="row">Enter OTP</div>
    <div fxLayout="column">
        <div fxLayoutAlign="center" style="padding-bottom: 10%; padding-top: 5%">+91 9864735287</div>
        <div>Please enter 4 - Digit conﬁrmation code</div>
        <div fxLayoutAlign="center">you recieved</div>
    </div>
    <form fxLayout="column" fxLayoutGap="25px" [formGroup]="otp" novalidate>
        <div fxLayout="row" fxLayoutAlign="center" fxLayoutGap="10px">
            <mat-form-field fxFlex="5%">
                <input oninput="this.value=this.value.slice(0,this.maxLength)" matInput type="number" maxlength="1" formControlName="firstDigit">
            </mat-form-field>
            <mat-form-field fxFlex="5%">
                <input oninput="this.value=this.value.slice(0,this.maxLength)" matInput type="number" maxlength="1" formControlName="secondDigit">
            </mat-form-field>
            <mat-form-field fxFlex="5%">
                <input oninput="this.value=this.value.slice(0,this.maxLength)" matInput type="number" maxlength="1" formControlName="thirdDigit">
            </mat-form-field>
            <mat-form-field fxFlex="5%">
                <input oninput="this.value=this.value.slice(0,this.maxLength)" matInput type="number" maxlength="1" formControlName="fourthDigit">
            </mat-form-field>
        </div>
        <button fxFlex mat-raised-button color="primary" [disabled]='otp.invalid' (click)="submitOTP()">Login</button>
        <div style="padding-top: 2%" fxLayout="row" fxLayoutAlign="center">
            <span>
                <a routerLink="#">Resend OTP</a>
            </span>
        </div>
    </form>
</div> -->
<form [formGroup]="otp" novalidate (ngSubmit)="submitOTP(otp.value)">
    <div fxLayout="column" fxLayoutAlign="center stretch" fxLayoutGap="2%">
        <h3 fxFlex fxFlexAlign="center" class="md-subhead">
            Enter OTP
        </h3>
        <h3 class="md-subhead" fxFlex fxFlexAlign="center">{{userIdentity.MobileNumber || userIdentity.EmailAddress}}</h3>
        <h3 class="md-subhead" fxFlex fxFlexAlign="center">Please enter 4 - Digit conﬁrmation code you recieved</h3>
        <div fxFlex fxLayout="row" fxLayoutAlign="end center" fxLayoutGap="20px" id="otpID">
            <mat-form-field fxFlex="calc(25%-20px)">
                <input matInput type="text" maxlength="1" formControlName="firstDigit">
            </mat-form-field>
            <mat-form-field fxFlex="calc(25%-20px)">
                <input matInput type="text" maxlength="1" formControlName="secondDigit">
            </mat-form-field>
            <mat-form-field fxFlex="calc(25%-20px)">
                <input matInput type="text" maxlength="1" formControlName="thirdDigit">
            </mat-form-field>
            <mat-form-field fxFlex="calc(25%-20px)">
                <input matInput type="text" maxlength="1" formControlName="fourthDigit">
            </mat-form-field>
        </div>
        <button fxFlex type="submit" mat-raised-button color="primary" [disabled]='otp.invalid'>Login</button>
        <div fxFlex fxFlexAlign="Center">
            <a routerLink="." skipLocationChange>Resend OTP</a>
        </div>
    </div>
</form>