<div style = "padding-bottom: 300px">

</div>
<div fxLayout="column">
    <div fxLayout="row" fxLayoutAlign="center center">
        <h1>Add New Shop</h1>
    </div>
  <form [formGroup]="newShopForm" novalidate>
    <div fxLayout="column" style = "margin-left: 20px; margin-right:20px" fxLayoutAlign="center stretch">
      <mat-form-field style="text-align: center">
        <input formControlName="retailerCode" matInput placeholder="Enter 10 digit Retailer Code">
      </mat-form-field>
    </div>
  </form>
</div>
<div fxLayout="column" style = "margin-left: 20px; margin-right:20px" fxLayoutAlign="space-around stretch">
  <button mat-raised-button color="primary" [disabled]='newShopForm.invalid'>Add Pharmacy / Store</button>
</div>