.user {
    display: inline-block;
    width: 140px;
    height: 120px;
    border-radius: 50%;
  
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
  }
  
  .one {
    background-image: url('http://placehold.it/400x200');
  }

.toolbar {
    border-bottom: 1px solid green;
}

/* .wh {
  background-color: white;
}

.bl {
  background-color: skyblue;
} */