<app-menu class='mat-app-background toolbar' name="My Profile"></app-menu>
<div fxLayout="column" fxLayoutAlign="space-around stretch" fxLayoutGap="1%">
    <div fxLayout="row" style="padding-top: 4%">
        <div fxFlex="70%" fxLayoutAlign="end center" style="padding-right: 3%">
            <div class="user one"></div>
        </div>
        <div fxFlex fxLayoutAlign="center start">Edit</div>
    </div>
    <h2 fxLayoutAlign="center">Angelina</h2>
    <div class="wh" style="padding: 8% 0 1.5% 8%">
        <div>Mobile</div>
        <div>8956247812</div>
    </div>
    <div class="bl" style="padding: 1.5% 0 1.5% 8%">
        <div>Billing Address</div>
        <div>8956247812</div>
    </div>
    <div class="wh" style="padding: 1.5% 0 1.5% 8%">
        <div>Email</div>
        <div>8956247812</div>
    </div>
    <div class="bl" style="padding: 1.5% 0 1.5% 8%">
        <div>Alternate Contact Number</div>
        <div>8956247812</div>
    </div>
    <div class="wh" style="padding: 1.5% 0 1.5% 8%">
        <div>D.O.B</div>
        <div>8956247812</div>
    </div>
    <div class="bl" style="padding: 1.5% 0 1.5% 8%">
        <div>Height</div>
        <div>8956247812</div>
        <div>Weight</div>
        <div>8956247812</div>
    </div>
    <div fxFlex class="wh" style="padding: 1.5% 0 1.5% 8%">
        <div>Blood Group</div>
        <div>8956247812</div>
    </div>
</div>