<div fxLayout="column" fxLayoutAlign="space-around center" [fxLayout.xs]="cols.firstColXs" [fxLayout.md]="cols.firstColMd"
[fxLayout.lg]="cols.firstColLg" [fxLayout.gt-lg]="cols.firstColGtLg" fxLayoutGap="25px">
<div fxLayout="row">FORGOT PASSWORD?</div>
<div fxLayout="column">
  <div fxLayoutAlign="center">Please enter the email ID or Phone number</div>
  <div>you signed up with and we'll send you a OTP</div>
</div>
<form fxLayout="column" [formGroup]="forgotPassword" style="margin-left: 2%; margin-right: 2%" novalidate>
  <div fxLayoutAlign="space-around center" fxLayoutGap="25px">
    <mat-form-field fxFlex="20%" fxFlexAlign="start">
      <mat-select required formControlName="countryCode">
        <mat-option>--</mat-option>
        <mat-option *ngFor="let countryCode of countryCodes" [value]="countryCode">
          {{countryCode.code}}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field fxFlex="70%" fxFlexAlign="left">
      <input matInput oninput="this.value=this.value.slice(0,this.maxLength)" maxlength="10" type="number" placeholder="Mobile Number" formControlName="mobileNumber">
    </mat-form-field>
  </div>

  <div fxLayout="row" fxLayoutAlign="center">OR</div>

  <mat-form-field fxLayout="column" fxLayoutAlign="center stretch">
    <input fxFlex matInput placeholder="Email ID" formControlName="emailID" email>
  </mat-form-field>
</form>
<button fxFlex mat-raised-button color="primary" [disabled]='forgotPassword.invalid' (click)="requestOTP()">Send OTP</button>
<span>Become a member?
<a routerLink="/signUp" skipLocationChange>Signup</a>
</span>
</div>