<!-- <div fxLayout="column" fxLayoutAlign="space-around center" [fxLayout.xs]="cols.firstColXs" [fxLayout.md]="cols.firstColMd"
[fxLayout.lg]="cols.firstColLg" [fxLayout.gt-lg]="cols.firstColGtLg" fxLayoutGap="25px">
<div fxLayout="row">FORGOT PASSWORD?</div>
<div fxLayout="column">
  <div fxLayoutAlign="center">Please enter the email ID or Phone number</div>
  <div>you signed up with and we'll send you a OTP</div>
</div>
<form fxLayout="column" [formGroup]="forgotPassword" style="margin-left: 2%; margin-right: 2%" novalidate>
  <div fxLayoutAlign="space-around center" fxLayoutGap="25px">
    <mat-form-field fxFlex="20%" fxFlexAlign="start">
      <mat-select required formControlName="countryCode">
        <mat-option>--</mat-option>
        <mat-option *ngFor="let countryCode of countryCodes" [value]="countryCode">
          {{countryCode.code}}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field fxFlex="70%" fxFlexAlign="left">
      <input matInput oninput="this.value=this.value.slice(0,this.maxLength)" maxlength="10" type="number" placeholder="Mobile Number" formControlName="mobileNumber">
    </mat-form-field>
  </div>

  <div fxLayout="row" fxLayoutAlign="center">OR</div>

  <mat-form-field fxLayout="column" fxLayoutAlign="center stretch">
    <input fxFlex matInput placeholder="Email ID" formControlName="emailID" email>
  </mat-form-field>
</form>
<button fxFlex mat-raised-button color="primary" [disabled]='forgotPassword.invalid' (click)="requestOTP()">Send OTP</button>
<span>Become a member?
<a routerLink="/signUp" skipLocationChange>Signup</a>
</span>
</div> -->

<form [formGroup]="forgotPassword" novalidate>
  <div fxLayout="column" fxLayoutAlign="center stretch" fxLayoutGap="2%">
    <h3 fxFlex fxFlexAlign="Center" class="md-subhead">
      FORGOT PASSWORD?
    </h3>
    <h3 class="md-subhead" fxFlex fxFlexAlign="Center">Please enter the email ID or Phone number you signed up with and we'll send you a OTP</h3>
    <div fxFlex fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="20px">
      <mat-form-field fxFlex="calc(10%-20px)" fxFlexAlign="start">
        <mat-select required formControlName="countryCode">
          <mat-option>--</mat-option>
          <mat-option *ngFor="let countryCode of countryCodes" [value]="countryCode">
            {{countryCode.code}}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field fxFlex fxFlexAlign="end">
        <input matInput oninput="this.value=this.value.slice(0,this.maxLength)" maxlength="10" type="number" placeholder="Mobile Number"
          formControlName="mobileNumber">
      </mat-form-field>
    </div>
    <h3 fxFlex fxFlexAlign="Center" class="md-subhead">
      OR
    </h3>
    <mat-form-field fxFlex>
      <input matInput placeholder="Email ID" formControlName="emailID" email>
    </mat-form-field>
    <button fxFlex mat-raised-button color="primary" [disabled]='forgotPassword.invalid' (click)="requestOTP()">Send OTP</button>
    <div fxFlex fxFlexAlign="Center">
      Become a member?
      <a routerLink="/signUp" skipLocationChange>Signup</a>
    </div>
  </div>
</form>