<div fxLayout="column" fxLayoutAlign="space-around center" [fxLayout.xs]="cols.firstColXs" [fxLayout.md]="cols.firstColMd"
[fxLayout.lg]="cols.firstColLg" [fxLayout.gt-lg]="cols.firstColGtLg" fxLayoutGap="25px">
<div fxLayout="row">FORGOT PASSWORD?</div>
<div fxLayout="column">
  <div>Please enter the email ID or Phone number</div>
  <div>you signed up with and we'll send you a OTP</div>
</div>
<form [formGroup]="forgotPassword" novalidate>

  <div fxLayoutAlign="space-around center" fxLayoutGap="25px">
    <mat-form-field fxFlex="20%" fxFlexAlign="start">
      <mat-select required>
        <mat-option>--</mat-option>
        <mat-option *ngFor="let countryCode of countryCodes" [value]="countryCode">
          {{countryCode.code}}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field fxFlex="70%" fxFlexAlign="left">
      <input matInput placeholder="Mobile Number" formControlName="mobileNumber">
    </mat-form-field>
  </div>
  <mat-form-field fxLayoutAlign="center stretch">
    <input matInput placeholder="Email ID" formControlName="emailID">
  </mat-form-field>
</form>
<button mat-raised-button color="primary" [disabled]='forgotPassword.invalid'>Send OTP</button>
<span>Become a member?
<a routerLink=".">Signup</a>
</span>
</div>