<mat-card style="margin-left: 20px; margin-right:20px;">
  <div fxLayout="row" fxLayoutAlign="space-between end">
    <div style="padding-bottom:10px">
      <mat-list>
        <mat-list-item>
          <h3 matLine style="padding-bottom:3px"> Dolo 650mg </h3>
          <p matLine> 1 Syp | D | Rs.39.45 </p>
        </mat-list-item>
      </mat-list>
    </div>
    <div>
      <div fxLayout="row" fxLayoutAlign="end" style="padding-top:20px; padding-bottom:15px;">
        <div fxLayout="row" fxLayoutAlign="space-between end" style=" max-height:100px">
          <div style="line-height: 1.50em; padding-left:10px; padding-right:10px; border: 1px solid; background: lightblue;">
            <span style="font-size:30px">-</span>
          </div>
          <div style="border: 1px solid; line-height: 1.75em; padding-left:20px; padding-right:20px;">
            <span style="font-size:20px"> 5 </span>
          </div>
          <div style="border: 1px solid; line-height: 1.50em; padding-left:11px; padding-right:11px; background: lightblue;">
            <span style="font-size:30px">+</span>
          </div>
        </div>
        <div style="padding-left:10px; padding-right:0px; padding-bottom:1px;">
          <mat-icon fxFlex fxFlexAlign="center" style="font-size:30px; padding-right:10px;">delete</mat-icon>
        </div>
      </div>
    </div>
  </div>

</mat-card>