<!-- <div fxLayout="column" style="margin-left:2%; margin-right: 2%"  fxLayoutAlign="space-around center" fxLayoutGap="25px">
    <div fxLayout="row">Enter OTP</div>
    <div fxLayout="column">
        <div fxLayoutAlign="center" style="padding-bottom: 10%; padding-top: 5%">+91 9864735287</div>
        <div>Please enter 4 - Digit conﬁrmation code</div>
        <div fxLayoutAlign="center">you recieved</div>
    </div>
    <form fxLayout="column" fxLayoutFap="25px" [formGroup]="forgotPasswordOtp" novalidate>
        <div fxLayout="row" fxLayoutAlign="center" fxLayoutGap="10px">
            <mat-form-field fxFlex="5%">
                <input oninput="this.value=this.value.slice(0,this.maxLength)" matInput type="number" maxlength="1" formControlName="firstDigit">
            </mat-form-field>
            <mat-form-field fxFlex="5%">
                <input oninput="this.value=this.value.slice(0,this.maxLength)" matInput type="number" maxlength="1" formControlName="secondDigit">
            </mat-form-field>
            <mat-form-field fxFlex="5%">
                <input oninput="this.value=this.value.slice(0,this.maxLength)" matInput type="number" maxlength="1" formControlName="thirdDigit">
            </mat-form-field>
            <mat-form-field fxFlex="5%">
                <input oninput="this.value=this.value.slice(0,this.maxLength)" matInput type="number" maxlength="1" formControlName="fourthDigit">
            </mat-form-field>
        </div>
        <mat-form-field fxLayout="column" fxLayoutAlign="center stretch">
            <input matInput placeholder="New Password" [type]="hide ? 'password' : 'text'" formControlName="newPassword">
            <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility' : 'visibility_off'}}</mat-icon>
        </mat-form-field>

        <mat-form-field fxLayout="column" fxLayoutAlign="center stretch">
            <input matInput placeholder="Confirm Password" [type]="hide ? 'password' : 'text'" formControlName="confirmPassword">
            <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility' : 'visibility_off'}}</mat-icon>
        </mat-form-field>

        <button fxFlex mat-raised-button color="primary" [disabled]='forgotPasswordOtp.invalid' (click)="setPassword()">Set</button>

        <div style="padding-top: 2%" fxLayout="row" fxLayoutAlign="center">
            <span>
                <a routerLink=".">Resend OTP</a>
            </span>
        </div>
    </form>
</div> -->
<form [formGroup]="forgotPasswordOtp" novalidate>
    <div fxLayout="column" fxLayoutAlign="center stretch" fxLayoutGap="2%">
        <h3 fxFlex fxFlexAlign="center" class="md-subhead">
            Enter OTP
        </h3>
        <h3 class="md-subhead" fxFlex fxFlexAlign="center">+91 9864735287</h3>
        <h3 class="md-subhead" fxFlex fxFlexAlign="center">Please enter 4 - Digit conﬁrmation code you recieved</h3>
        <div fxFlex fxLayout="row" fxLayoutAlign="end center" fxLayoutGap="20px" id="forgotPasswordOTPID">
            <mat-form-field fxFlex="calc(25%-20px)">
                <input oninput="this.value=this.value.slice(0,this.maxLength)" matInput type="number" maxlength="1" formControlName="firstDigit">
            </mat-form-field>
            <mat-form-field fxFlex="calc(25%-20px)">
                <input oninput="this.value=this.value.slice(0,this.maxLength)" matInput type="number" maxlength="1" formControlName="secondDigit">
            </mat-form-field>
            <mat-form-field fxFlex="calc(25%-20px)">
                <input oninput="this.value=this.value.slice(0,this.maxLength)" matInput type="number" maxlength="1" formControlName="thirdDigit">
            </mat-form-field>
            <mat-form-field fxFlex="calc(25%-20px)">
                <input oninput="this.value=this.value.slice(0,this.maxLength)" matInput type="number" maxlength="1" formControlName="fourthDigit">
            </mat-form-field>
        </div>
        <mat-form-field fxFlex>
            <input matInput placeholder="New Password" [type]="newPasswordRef.value ? 'text' : 'password'" formControlName="newPassword">
            <mat-icon matSuffix #newPasswordRef (click)="newPasswordRef.value = !newPasswordRef.value">{{newPasswordRef.value ? 'visibility' : 'visibility_off'}}</mat-icon>
        </mat-form-field>
        <mat-form-field fxFlex>
            <input matInput placeholder="Confirm Password" [type]="confirmPasswordRef.value ? 'text' : 'password'" formControlName="confirmPassword">
            <mat-icon matSuffix #confirmPasswordRef (click)="confirmPasswordRef.value = !confirmPasswordRef.value">{{confirmPasswordRef.value ? 'visibility' : 'visibility_off'}}</mat-icon>
        </mat-form-field>
        <button fxFlex mat-raised-button color="primary" [disabled]='forgotPasswordOtp.invalid' (click)="setPassword()">Set</button>
        <div fxFlex fxFlexAlign="Center">
            <a routerLink="/signUp" skipLocationChange>Resend OTP</a>
        </div>
    </div>
</form>