<div fxLayout="column" fxLayoutAlign="space-around center" fxLayoutGap="25px">
    <div fxLayout="row">CHANGE PASSWORD</div>
    <div fxLayout="column">
        <div>Please enter your old password and the</div>
        <div fxLayoutAlign="center">new password</div>
    </div>
    <form [formGroup]="changePassword" novalidate>
        <div fxLayout="column">
            <mat-form-field fxLayoutAlign="center stretch">
                <input matInput placeholder="Old Password" formControlName="oldPassword">
            </mat-form-field>

            <mat-form-field fxLayoutAlign="center stretch">
                <input matInput placeholder="New Password" formControlName="newPassword">
            </mat-form-field>

            <mat-form-field fxLayoutAlign="center stretch">
                <input matInput placeholder="Retype New Password" formControlName="confirmPassword">
            </mat-form-field>
        </div>
    </form>
    <button mat-raised-button color="primary" [disabled]='changePassword.invalid'>Confirm</button>
</div>