<!-- <div fxLayout="column" fxLayoutAlign="space-around stretch" fxLayoutGap="25px">
    <div fxLayout="row" fxLayoutAlign="center">CHANGE PASSWORD</div>
    <div fxLayout="column">
        <div fxLayoutAlign="center">Please enter your old password and the</div>
        <div fxLayoutAlign="center">new password</div>
    </div>
    <form [formGroup]="changePassword" novalidate>
        <div fxLayout="column" style="margin-left: 20px; margin-right:20px" fxLayoutAlign="space-between stretch">
            <mat-form-field fxLayout="column" fxLayoutAlign="center stretch">
                <input matInput placeholder="Password" [type]="hide ? 'password' : 'text'" formControlName="oldPassword">
                <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility' : 'visibility_off'}}</mat-icon>
            </mat-form-field>

            <mat-form-field fxLayout="column" fxLayoutAlign="center stretch">
                <input matInput placeholder="Password" [type]="hide ? 'password' : 'text'" formControlName="newPassword">
                <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility' : 'visibility_off'}}</mat-icon>
            </mat-form-field>

            <mat-form-field fxLayout="column" fxLayoutAlign="center stretch">
                <input matInput placeholder="Password" [type]="hide ? 'password' : 'text'" formControlName="confirmPassword">
                <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility' : 'visibility_off'}}</mat-icon>
            </mat-form-field>
            <button fxFlex mat-raised-button color="primary" [disabled]='changePassword.invalid' (click)="updatePassword()" fxFlex>Confirm</button>
        </div>
    </form>
</div> -->
<form [formGroup]="changePassword" novalidate>
    <div fxLayout="column" fxLayoutAlign="center stretch" fxLayoutGap="2%">
        <h3 fxFlex fxFlexAlign="Center" class="md-subhead">
            CHANGE PASSWORD
        </h3>
        <h3 class="md-subhead" fxFlex fxFlexAlign="center">Please enter your old password and the new password</h3>
        <mat-form-field fxFlex>
            <input matInput placeholder="Password" [type]="oldPasswordRef.value ? 'text' : 'password'" formControlName="oldPassword">
            <mat-icon matSuffix #oldPasswordRef (click)="oldPasswordRef.value = !oldPasswordRef.value">{{oldPasswordRef.value ? 'visibility' : 'visibility_off'}}</mat-icon>
        </mat-form-field>
        <mat-form-field fxFlex>
            <input matInput placeholder="Password" [type]="newPasswordRef.value ? 'text' : 'password'" formControlName="newPassword">
            <mat-icon matSuffix #newPasswordRef (click)="newPasswordRef.value = !newPasswordRef.value">{{newPasswordRef.value ? 'visibility' : 'visibility_off'}}</mat-icon>
        </mat-form-field>

        <mat-form-field fxFlex>
            <input matInput placeholder="Password" [type]="confirmPasswordRef.value ? 'text' : 'password'" formControlName="confirmPassword">
            <mat-icon matSuffix #confirmPasswordRef (click)="confirmPasswordRef.value = !confirmPasswordRef.value">{{confirmPasswordRef.value ? 'visibility' : 'visibility_off'}}</mat-icon>
        </mat-form-field>

        <button fxFlex mat-raised-button color="primary" [disabled]='changePassword.invalid' (click)="updatePassword()" fxFlex>Confirm</button>
    </div>
</form>